.card-body{
    display: flex;
    text-align: center;
    position: relative;
    background-color: #292b2c;
    justify-content: center;
    align-items: center;
    align-self: center;
    -webkit-box-pack: center;
    /* height: 400px; */
    color: aliceblue;
    width: 100%;
    height: 250px;
}

button{
    background-color: #E85D23;
    width: 100% ;
}

.form-group{
    width: 300px;
    font-size: 10px;
}
form{
    font-size: small;
}
