<div style="padding-top: 15% ;">
    <div class="card-login-custom">
        <div class="card-login">
            <div class="card-body">
                    <form>
                        <div class="row">
                          <div class="col-md-auto  ">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="" placeholder="Informe seu CNPJ">
                            </div>
                          </div>
                          <div class="col-5">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="" placeholder="Nome Comercial">
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-auto  ">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="" placeholder="Nome Completo">
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="" placeholder="Celular">
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="" placeholder="CPF">
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-auto  ">
                            <div class="form-group">
                                <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="" placeholder="Email">
                            </div>
                          </div>
                          <div class="col-5">
                            <div class="form-group">
                                <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="" placeholder="Confirme seu email">
                            </div>
                          </div>
                        </div>
                        <button type="submit"  class="btn btn-primary" aria-disabled="true" >Cadastrar </button>
                    </form>
            </div>
        </div>
    </div>
</div>




