<div style="padding-top: 15% ;">
    <div class="card-login-custom">
        <div class="card-login">
            <div class="card-body">
                <form style ='text-align: center; '>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
                        <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Senha">
                    </div>
                    <button type="submit"  class="btn btn-primary" aria-disabled="true" >Enviar</button>
                    <div class="form-group">
                        <p>Ainda não é parceiro?
                            <a class="style-bold" href="/register" routerLinkActive="active" routerLink="/register">Cadastre-se!</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





